body {
    background-color: beige;
    padding: 20px;
}

h1 {
    color: cyan;
    transition: color 0.4s ease-in-out;
}

.active {
    color: tomato;
}

.sexy-font {
    font-family:'Courier New', Courier, monospace;
}